/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid #ccc;
}

/* Estilos para los formularios */
.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

textarea, input[type="range"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea[disabled] {
    background-color: #f0f0f0;
}

/* Estilos para el botón */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el enlace al archivo JavaScript */
a {
    color: #007bff;
}

a:hover {
    text-decoration: none;
}
